@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Marcio Vieira de Souza - Tecnologia da Informação<br />
    Rua Mediterrâneo, 233, Vargem Grande Pta - SP <br />
    <abbr title="Phone">P:</abbr>
    11 98206.1336
</address>

<address>
    <strong>Support:</strong> <a href="mailto:marcio.vieira1@gmail.com">marcio.vieira1@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marcio.vieira1@gmail.com">Marketing@example.com</a><br />
    <strong>GitHub:</strong> <a href=@ViewData["git"]>@ViewData["git"]</a>
</address>
